<section aria-labelledby="yt-feed-title" class="sticky top-mobilePadding lg:top-[132px]">
    <h2 id="yt-feed-title" class="mb-4 text-center text-32 font-bold leading-10 text-primary">FKPCE.TV</h2>
    <ul class="grid grid-cols-1 gap-6">
        <li class="group">
            <button data-play-video-id="PDorulgrOuI" title="Přehrát video" aria-haspopup="dialog">
                <div class="yt-feed-thumbnail relative mb-4">
                    <img
                        src="https://i.ytimg.com/vi/PDorulgrOuI/maxresdefault.jpg"
                        class="aspect-video w-full object-cover object-center"
                        width="408"
                        height="229"
                        loading="lazy"
                        alt=""
                    />
                    <div class="absolute inset-0 z-20 flex items-center justify-center">
                        <svg width="80" height="80">
                            <use xlink:href="#youtube-play"></use>
                        </svg>
                    </div>
                </div>
                <h2
                    class="px-8 text-center text-xl font-bold leading-25 text-primary transition-colors duration-300 ease-in-out group-hover:text-secondary"
                >
                    FK Pardubice přeje všem klidné Vánoce
                </h2>
            </button>
        </li>
        <li class="group">
            <button data-play-video-id="ylLOgjGczJ0" title="Přehrát video" aria-haspopup="dialog">
                <div class="yt-feed-thumbnail relative mb-4">
                    <img
                        src="https://i.ytimg.com/vi/ylLOgjGczJ0/maxresdefault.jpg"
                        class="aspect-video w-full object-cover object-center"
                        width="408"
                        height="229"
                        loading="lazy"
                        alt=""
                    />
                    <div class="absolute inset-0 z-20 flex items-center justify-center">
                        <svg width="80" height="80">
                            <use xlink:href="#youtube-play"></use>
                        </svg>
                    </div>
                </div>
                <h2
                    class="px-8 text-center text-xl font-bold leading-25 text-primary transition-colors duration-300 ease-in-out group-hover:text-secondary"
                >
                    Martin Shejbal vzpomíná na působení na Letním stadionu
                </h2>
            </button>
        </li>
    </ul>
    <script src="/dist/js/yt-feed.js" async></script>
</section>
