<section aria-labelledby="submenu-title">
    @@if (page === 'article') {
    <h2 id="submenu-title" class="mb-4 text-xl font-bold leading-26 text-primary">A-tým</h2>
    <ul role="navigation" class="grid grid-cols-1 gap-2 bg-gray px-8 py-4">
        <li>
            <a href="roster.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                Soupiska
            </a>
        </li>
        <li>
            <a href="staff.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                Realizační tým
            </a>
        </li>
        <li>
            <a href="matches.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                Zápasy
            </a>
        </li>
    </ul>
    } @@if (page === 'page') {
    <h2 id="submenu-title" class="mb-4 text-xl font-bold leading-26 text-primary">Klub</h2>
    <ul role="navigation" class="grid grid-cols-1 gap-2 bg-gray px-8 py-4">
        <li>
            <a href="page.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                Informace o klubu
            </a>
        </li>
        <li>
            <a href="page.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                Kontakt
            </a>
        </li>
        <li>
            <a href="page.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                Historie
            </a>
        </li>
    </ul>
    } @@if (page === 'seasons') {
    <h2 id="submenu-title" class="mb-4 text-xl font-bold leading-26 text-primary">Sezóny</h2>
    <ul role="navigation" class="grid grid-cols-1 gap-2 bg-gray px-8 py-4">
        <li>
            <a href="roster.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                2022/23
            </a>
        </li>
        <li>
            <a href="roster.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                2021/22
            </a>
        </li>
        <li>
            <a href="roster.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                2020/21
            </a>
        </li>
        <li>
            <a href="roster.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                2019/20
            </a>
        </li>
    </ul>
    } @@if (page === 'competitions') {
    <h2 id="submenu-title" class="mb-4 text-xl font-bold leading-26 text-primary">Soutěže</h2>
    <ul role="navigation" class="grid grid-cols-1 gap-2 bg-gray px-8 py-4">
        <li>
            <a href="matches.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                FORTUNA:LIGA
            </a>
        </li>
        <li>
            <a href="matches.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                MOL Cup
            </a>
        </li>
        <li>
            <a href="matches.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                Přípravné zápay
            </a>
        </li>
        <li>
            <a href="matches.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                Všechny
            </a>
        </li>
    </ul>
    } @@if (page === 'stats') {
    <h2 id="submenu-title" class="mb-4 text-xl font-bold leading-26 text-primary">Soutěže</h2>
    <ul role="navigation" class="grid grid-cols-1 gap-2 bg-gray px-8 py-4">
        <li>
            <a href="matches.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                FORTUNA:LIGA
            </a>
        </li>
        <li>
            <a href="matches.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                MOL Cup
            </a>
        </li>
    </ul>
    } @@if (page === 'current-matches') {
    <h2 id="submenu-title" class="mb-4 text-xl font-bold leading-26 text-primary">Kategorie</h2>
    <ul role="navigation" class="grid grid-cols-1 gap-2 bg-gray px-8 py-4">
        <li>
            <a href="matches-current.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                Muži A
            </a>
        </li>
        <li>
            <a href="matches-current.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                Muži B
            </a>
        </li>
        <li>
            <a href="matches-current.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                Ženy
            </a>
        </li>
        <li>
            <a href="matches-current.html" class="flex items-center gap-4 font-bold uppercase leading-5 text-secondary hover:underline">
                <svg width="1" height="5" class="fill-secondary"><use xlink:href="#divider" class="block"></use></svg>
                U19
            </a>
        </li>
    </ul>
    }
</section>
