<section aria-label="Banners" class="container mx-auto grid grid-cols-1 gap-10 lg:grid-cols-2">
    <a href="#" target="_blank" rel="noopener noreferrer" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
        <img src="https://via.placeholder.com/632x200" loading="lazy" class="mx-auto max-w-full" alt="" />
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
        <img src="https://via.placeholder.com/632x200" loading="lazy" class="mx-auto max-w-full" alt="" />
    </a>
</section>
