<section aria-label="Partners" class="bg-mainPattern bg-cover bg-center py-10">
    <div class="container mx-auto">
        <ul id="bottom-partners-slider">
            @@for(i = 0; i < 9; i++) {
            <li>
                <a href="#" target="_blank" rel="noopener noreferrer" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                    <img src="https://via.placeholder.com/184x119" class="aspect-3/2 object-contain" loading="lazy" alt="partner" />
                </a>
            </li>
            }
        </ul>
    </div>
</section>
