<!-- <dialog id="website-cover" data-cover-id="15724" data-show-permanently class="max-w-max"> -->
<dialog id="website-cover" data-cover-id="15724" class="max-w-max">
    <div class="dialog-content">
        <div class="flex gap-4">
            <a href="#" target="_blank" class="outline-transparent">
                <img src="https://picsum.photos/880/526" class="mx-auto h-auto max-w-full" loading="lazy" alt="" />
            </a>
            <a href="#" target="_blank" class="outline-transparent">
                <img src="https://picsum.photos/880/526" class="mx-auto h-auto max-w-full" loading="lazy" alt="" />
            </a>
        </div>
        <div class="mt-4 text-center">
            <button class="btn btn-secondary mx-auto w-full rounded-none py-4 lg:w-max" data-cover-close>Nezobrazovat</button>
        </div>
    </div>
</dialog>
