<footer class="bg-gray py-4">
    <div class="container mx-auto flex flex-col items-center sm:flex-row">
        <a href="/" class="transition-opacity duration-300 ease-in-out hover:opacity-75 sm:mr-8">
            <svg width="43" height="56">
                <use xlink:href="#logo"></use>
            </svg>
        </a>
        <div class="mb-4 text-center sm:mr-auto sm:mb-0 sm:text-start">
            <span class="font-light leading-6">Copyright &copy; 2022</span><br />
            <b class="leading-22">FK Pardubice & <a href="https://esportsmedia.cz" target="_blank" class="hover:underline">eSports s.r.o.</a></b>
        </div>
        <a
            href="javascript:void(0);"
            data-cc="c-settings"
            class="mb-2 text-primary underline hover:no-underline sm:mr-10 sm:mb-0 md:mr-12"
            aria-haspopup="dialog"
        >
            Nastavení cookies
        </a>
        <div class="flex gap-2">
            <a href="#" target="_blank" rel="noopener noreferrer" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                <svg width="24" height="24" class="fill-primary">
                    <use xlink:href="#FB"></use>
                </svg>
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                <svg width="24" height="24" class="fill-primary">
                    <use xlink:href="#IG"></use>
                </svg>
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                <svg width="24" height="24" class="fill-primary">
                    <use xlink:href="#TW"></use>
                </svg>
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                <svg width="24" height="24" class="fill-primary">
                    <use xlink:href="#TK"></use>
                </svg>
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                <svg width="24" height="24" class="fill-primary">
                    <use xlink:href="#YT"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>

<!-- prettier-ignore -->
@@include('cover.html') 
@@include('sticker.html')

<div style="display: none">@@include('svg-symbols.html')</div>
