<div id="fb-root"></div>
<script type="text/plain" data-cookiecategory="social" async>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.4&appId=343586292409757";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<script type="text/javascript" async>
    var stripType = 1;
    var stripGlExtraCode = 46;
    var js = document.createElement('script');
    js.src = 'https://gambrinusliga.s3-external-3.amazonaws.com/strip/strip-utf8.js';
    document.getElementsByTagName('body')[0].appendChild(js);
</script>
<header class="sticky top-0 z-50 w-full bg-white shadow-custom">
    <div class="relative mx-auto flex min-h-mobile items-center px-4 lg:container lg:min-h-desktop lg:pt-6">
        <a href="/" class="left-4 top-4 transition-all duration-300 ease-in-out hover:scale-95 lg:absolute">
            <svg class="-lg:h-14 -lg:w-auto" width="93" height="120">
                <use xlink:href="#logo"></use>
            </svg>
        </a>
        <div class="ml-auto grid justify-items-end">
            <div class="mr-4 flex items-center gap-2 lg:mr-0">
                <a href="#" target="_blank" rel="noopener noreferrer" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                    <svg width="24" height="24" class="fill-secondary">
                        <use xlink:href="#FB"></use>
                    </svg>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                    <svg width="24" height="24" class="fill-secondary">
                        <use xlink:href="#IG"></use>
                    </svg>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                    <svg width="24" height="24" class="fill-secondary">
                        <use xlink:href="#TW"></use>
                    </svg>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                    <svg width="24" height="24" class="fill-secondary">
                        <use xlink:href="#TK"></use>
                    </svg>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                    <svg width="24" height="24" class="fill-secondary">
                        <use xlink:href="#YT"></use>
                    </svg>
                </a>
            </div>
            <div id="menu-wrapper" class="menu-wrapper">
                <nav class="flex list-none flex-col lg:flex-row lg:items-center lg:gap-2 -lg:items-end">
                    <li class="menu-item whitespace-nowrap text-end">
                        <a href="#" class="menu-link">FKPCE</a>
                    </li>
                    <svg width="1" height="5" class="hidden -translate-y-1 fill-secondary lg:block"><use xlink:href="#divider"></use></svg>
                    <li class="menu-item whitespace-nowrap text-end">
                        <a href="#" class="menu-link">Novinky</a>
                    </li>
                    <svg width="1" height="5" class="hidden -translate-y-1 fill-secondary lg:block"><use xlink:href="#divider"></use></svg>
                    <li class="menu-item relative whitespace-nowrap text-end">
                        <a href="#" class="menu-link" aria-expanded="false" aria-haspopup="true" id="submenu1">Týmy</a>
                        <ul class="submenu" aria-labelledby="submenu1">
                            <li class="submenu-item has-submenu relative">
                                <a href="#" class="submenu-link" aria-expanded="false" aria-haspopup="true">
                                    A-tým
                                    <svg width="10" height="10" class="hidden lg:block"><use xlink:href="#arrow-forward.2"></use></svg>
                                </a>
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="#" class="submenu-link">Soupiska</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="#" class="submenu-link">Realizační tým</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="#" class="submenu-link">Zápasy</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="submenu-item has-submenu relative">
                                <a href="#" class="submenu-link" aria-expanded="false" aria-haspopup="true">
                                    B-tým
                                    <svg width="10" height="10" class="hidden lg:block"><use xlink:href="#arrow-forward.2"></use></svg>
                                </a>
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="#" class="submenu-link">Soupiska</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="#" class="submenu-link">Realizační tým</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="#" class="submenu-link">Zápasy</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="submenu-item has-submenu relative">
                                <a href="#" class="submenu-link" aria-expanded="false" aria-haspopup="true">
                                    Ženy
                                    <svg width="10" height="10" class="hidden lg:block"><use xlink:href="#arrow-forward.2"></use></svg>
                                </a>
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="#" class="submenu-link">Soupiska</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="#" class="submenu-link">Realizační tým</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="#" class="submenu-link">Zápasy</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="submenu-item has-submenu relative">
                                <a href="#" class="submenu-link" aria-expanded="false" aria-haspopup="true">
                                    Mládežnické týmy
                                    <svg width="10" height="10" class="hidden lg:block"><use xlink:href="#arrow-forward.2"></use></svg>
                                </a>
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="#" class="submenu-link">Soupiska</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="#" class="submenu-link">Realizační tým</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="#" class="submenu-link">Zápasy</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <svg width="1" height="5" class="hidden -translate-y-1 fill-secondary lg:block"><use xlink:href="#divider"></use></svg>
                    <li class="menu-item whitespace-nowrap text-end">
                        <a href="#" class="menu-link">Zápasy</a>
                    </li>
                    <svg width="1" height="5" class="hidden -translate-y-1 fill-secondary lg:block"><use xlink:href="#divider"></use></svg>
                    <li class="menu-item whitespace-nowrap text-end">
                        <a href="#" class="menu-link">Vstupenky</a>
                    </li>
                    <svg width="1" height="5" class="hidden -translate-y-1 fill-secondary lg:block"><use xlink:href="#divider"></use></svg>
                    <li class="menu-item whitespace-nowrap text-end">
                        <a href="#" class="menu-link">Fanoušci</a>
                    </li>
                    <svg width="1" height="5" class="hidden -translate-y-1 fill-secondary lg:block"><use xlink:href="#divider"></use></svg>
                    <li class="menu-item whitespace-nowrap text-end">
                        <a href="#" class="menu-link">Partneři</a>
                    </li>
                </nav>
            </div>
        </div>
        <button class="menu-toggler block lg:hidden" type="button" aria-controls="menu-wrapper" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="menu-toggler-open menu-toggler-icon" viewBox="0 0 448 512">
                <path
                    d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"
                />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="menu-toggler-close menu-toggler-icon" viewBox="0 0 320 512">
                <path
                    d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"
                />
            </svg>
        </button>
    </div>
</header>
<script async src="/dist/js/menu.js"></script>
