<div
    id="onlajny-sticker"
    class="fixed bottom-0 z-40 max-w-full -translate-x-[110%] overflow-hidden rounded-[0_3px_20px_0] bg-white shadow-xl transition-transform duration-500 ease-in-out lg:bottom-6"
>
    <ul>
        <li class="group">
            <a
                href="https://www.onlajny.com/"
                target="_blank"
                class="flex items-center gap-4 border-b border-b-secondary px-6 py-3 hover:bg-slate-100 group-last:border-b-0"
                title="Sledovat onlajn"
            >
                <img src="https://www.fchk.cz/znaky/hkr.png" loading="lazy" width="40" height="40" class="object-contain" alt="team logo" />
                <div class="flex flex-col text-xs">
                    <b class="mb-1">Dnes v 18:00 | MUZ</b>
                    <span>FK Pardubice</span>
                    <span>FK Hradec Králové</span>
                </div>
            </a>
        </li>
        <li class="group">
            <a
                href="https://www.onlajny.com/"
                target="_blank"
                class="flex items-center gap-4 border-b border-b-secondary px-6 py-3 hover:bg-slate-100 group-last:border-b-0"
                title="Sledovat onlajn"
            >
                <img src="https://www.fchk.cz/znaky/hkr.png" loading="lazy" width="40" height="40" class="object-contain" alt="team logo" />
                <div class="flex flex-col text-xs">
                    <b class="mb-1">Dnes v 18:00 | MUZ</b>
                    <span>FK Pardubice</span>
                    <span>FK Hradec Králové</span>
                </div>
            </a>
        </li>
    </ul>
    <button class="btn w-full rounded-none bg-secondary text-white hover:bg-secondary-dark" data-sticker-close>Skrýt</button>
</div>
