<div class="border-b-primary py-4 print:hidden sm:border-b-2 sm:bg-gray sm:px-4 lg:px-8">
    <select onchange="window.location = this.value" class="custom-select block print:hidden sm:hidden">
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 text-primary shadow">U19</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">U18</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">U17</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">U16</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">U15</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">U14</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">U13</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">U12</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">U11</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">U10</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">U9</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">U8</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">U7</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">U6</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">WU18</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">WU15</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">WU13</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">WU11</a>
        </option>
        <option value="matches.html?category=U19">
            <a href="#" class="block px-4 py-2 hover:text-primary hover:shadow">WU9</a>
        </option>
    </select>
    <ul class="hidden flex-wrap justify-center gap-2 text-sm sm:flex lg:flex">
        <li>
            <a href="#" class="block px-4 py-2 text-primary shadow">U19</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">U18</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">U17</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">U16</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">U15</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">U14</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">U13</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">U12</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">U11</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">U10</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">U9</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">U8</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">U7</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">U6</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">WU18</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">WU15</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">WU13</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">WU11</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-secondary hover:text-primary hover:shadow">WU9</a>
        </li>
    </ul>
</div>

@@if (page === 'matches') {
<ul
    class="hidden flex-col flex-wrap justify-center gap-2 px-4 py-4 text-center text-sm uppercase print:hidden sm:flex sm:flex-row sm:text-start lg:px-8"
>
    <li>
        <a href="archive.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Články</a>
    </li>
    <li>
        <a href="roster.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Soupiska</a>
    </li>
    <li>
        <a href="matches.html" class="block px-4 py-3 text-primary shadow sm:py-2">Zápasy</a>
    </li>
    <li>
        <a href="stats.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Statistiky</a>
    </li>
    <li>
        <a href="standings.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Tabulka</a>
    </li>
    <li>
        <a href="staff.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Realizační tým</a>
    </li>
</ul>
<select onchange="window.location = this.value" class="custom-select block print:hidden sm:hidden">
    <option value="/archive.html">Články</option>
    <option value="/roster.html">Soupiska</option>
    <option value="/matches.html" selected>Zápasy</option>
    <option value="/stats.html">Statistiky</option>
    <option value="/standings.html">Tabulka</option>
    <option value="/staff.html">Realizační tým</option>
</select>
} @@if (page === 'roster') {
<ul
    class="hidden flex-col flex-wrap justify-center gap-2 px-4 py-4 text-center text-sm uppercase print:hidden sm:flex sm:flex-row sm:text-start lg:px-8"
>
    <li>
        <a href="archive.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Články</a>
    </li>
    <li>
        <a href="roster.html" class="block px-4 py-3 text-primary shadow sm:py-2">Soupiska</a>
    </li>
    <li>
        <a href="matches.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Zápasy</a>
    </li>
    <li>
        <a href="stats.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Statistiky</a>
    </li>
    <li>
        <a href="standings.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Tabulka</a>
    </li>
    <li>
        <a href="staff.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Realizační tým</a>
    </li>
</ul>
<select onchange="window.location = this.value" class="custom-select block print:hidden sm:hidden">
    <option value="/roster.html" selected>Soupiska</option>
    <option value="/matches.html">Zápasy</option>
    <option value="/stats.html">Statistiky</option>
    <option value="/standings.html">Tabulka</option>
    <option value="/staff.html">Realizační tým</option>
</select>
} @@if (page === 'staff') {
<ul
    class="hidden flex-col flex-wrap justify-center gap-2 px-4 py-4 text-center text-sm uppercase print:hidden sm:flex sm:flex-row sm:text-start lg:px-8"
>
    <li>
        <a href="archive.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Články</a>
    </li>
    <li>
        <a href="roster.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Soupiska</a>
    </li>
    <li>
        <a href="matches.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Zápasy</a>
    </li>
    <li>
        <a href="stats.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Statistiky</a>
    </li>
    <li>
        <a href="standings.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Tabulka</a>
    </li>
    <li>
        <a href="staff.html" class="block px-4 py-3 text-primary shadow sm:py-2">Realizační tým</a>
    </li>
</ul>
<select onchange="window.location = this.value" class="custom-select block print:hidden sm:hidden">
    <option value="/archive.html">Články</option>
    <option value="/roster.html">Soupiska</option>
    <option value="/matches.html">Zápasy</option>
    <option value="/stats.html">Statistiky</option>
    <option value="/standings.html">Tabulka</option>
    <option value="/staff.html" selected>Realizační tým</option>
</select>
} @@if (page === 'stats') {
<ul
    class="hidden flex-col flex-wrap justify-center gap-2 px-4 py-4 text-center text-sm uppercase print:hidden sm:flex sm:flex-row sm:text-start lg:px-8"
>
    <li>
        <a href="archive.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Články</a>
    </li>
    <li>
        <a href="roster.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Soupiska</a>
    </li>
    <li>
        <a href="matches.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Zápasy</a>
    </li>
    <li>
        <a href="stats.html" class="block px-4 py-3 text-primary shadow sm:py-2">Statistiky</a>
    </li>
    <li>
        <a href="standings.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Tabulka</a>
    </li>
    <li>
        <a href="staff.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Realizační tým</a>
    </li>
</ul>
<select onchange="window.location = this.value" class="custom-select block print:hidden sm:hidden">
    <option value="/archive.html">Články</option>
    <option value="/roster.html">Soupiska</option>
    <option value="/matches.html">Zápasy</option>
    <option value="/stats.html" selected>Statistiky</option>
    <option value="/standings.html">Tabulka</option>
    <option value="/staff.html">Realizační tým</option>
</select>
} @@if (page === 'standings') {
<ul
    class="hidden flex-col flex-wrap justify-center gap-2 px-4 py-4 text-center text-sm uppercase print:hidden sm:flex sm:flex-row sm:text-start lg:px-8"
>
    <li>
        <a href="archive.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Články</a>
    </li>
    <li>
        <a href="roster.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Soupiska</a>
    </li>
    <li>
        <a href="matches.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Zápasy</a>
    </li>
    <li>
        <a href="stats.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Statistiky</a>
    </li>
    <li>
        <a href="standings.html" class="block px-4 py-3 text-primary shadow sm:py-2">Tabulka</a>
    </li>
    <li>
        <a href="staff.html" class="block px-4 py-3 hover:text-primary hover:shadow sm:py-2">Realizační tým</a>
    </li>
</ul>
<select onchange="window.location = this.value" class="custom-select block print:hidden sm:hidden">
    <option value="/archive.html">Články</option>
    <option value="/roster.html">Soupiska</option>
    <option value="/matches.html">Zápasy</option>
    <option value="/stats.html">Statistiky</option>
    <option value="/standings.html" selected>Tabulka</option>
    <option value="/staff.html">Realizační tým</option>
</select>
}
