<section aria-labelledby="yt-feed-title" class="container mx-auto mb-10">
    <h1 id="yt-feed-title" class="mb-6 text-center text-40 font-bold leading-50 text-primary">FKPCE.TV</h1>
    <ul class="grid grid-cols-1 gap-10 lg:grid-cols-3">
        <li class="group">
            <button data-play-video-id="PDorulgrOuI" title="Přehrát video" aria-haspopup="dialog">
                <div class="yt-feed-thumbnail relative mb-4">
                    <img
                        src="https://i.ytimg.com/vi/PDorulgrOuI/maxresdefault.jpg"
                        class="aspect-video w-full object-cover object-center"
                        width="408"
                        height="229"
                        loading="lazy"
                        alt=""
                    />
                    <div class="absolute inset-0 z-20 flex items-center justify-center">
                        <svg width="80" height="80">
                            <use xlink:href="#youtube-play"></use>
                        </svg>
                    </div>
                </div>
                <h2
                    class="px-8 text-center text-xl font-bold leading-25 text-primary transition-colors duration-300 ease-in-out group-hover:text-secondary"
                >
                    FK Pardubice přeje všem klidné Vánoce
                </h2>
            </button>
        </li>
        <li class="group hidden lg:block">
            <button data-play-video-id="ylLOgjGczJ0" title="Přehrát video" aria-haspopup="dialog">
                <div class="yt-feed-thumbnail relative mb-4">
                    <img
                        src="https://i.ytimg.com/vi/ylLOgjGczJ0/maxresdefault.jpg"
                        class="aspect-video w-full object-cover object-center"
                        width="408"
                        height="229"
                        loading="lazy"
                        alt=""
                    />
                    <div class="absolute inset-0 z-20 flex items-center justify-center">
                        <svg width="80" height="80">
                            <use xlink:href="#youtube-play"></use>
                        </svg>
                    </div>
                </div>
                <h2
                    class="px-8 text-center text-xl font-bold leading-25 text-primary transition-colors duration-300 ease-in-out group-hover:text-secondary"
                >
                    Martin Shejbal vzpomíná na působení na Letním stadionu
                </h2>
            </button>
        </li>
        <li class="group hidden lg:block">
            <button data-play-video-id="pV7ywbo7o2o" title="Přehrát video" aria-haspopup="dialog">
                <div class="yt-feed-thumbnail relative mb-4">
                    <img
                        src="https://i.ytimg.com/vi/pV7ywbo7o2o/maxresdefault.jpg"
                        class="aspect-video w-full object-cover object-center"
                        width="408"
                        height="229"
                        loading="lazy"
                        alt=""
                    />
                    <div class="absolute inset-0 z-20 flex items-center justify-center">
                        <svg width="80" height="80">
                            <use xlink:href="#youtube-play"></use>
                        </svg>
                    </div>
                </div>
                <h2
                    class="px-8 text-center text-xl font-bold leading-25 text-primary transition-colors duration-300 ease-in-out group-hover:text-secondary"
                >
                    Sestřih branek z utkání proti rezervě pražské Sparty
                </h2>
            </button>
        </li>
    </ul>
    <div class="mt-6 flex justify-end">
        <a href="https://www.youtube.com/channel/UCBMyDVk6mnlwQWFnr397E_Q" target="_blank" class="btn btn-secondary w-full py-4 sm:w-auto sm:py-2">
            <svg width="14" height="13">
                <use xlink:href="#button-hamburger"></use>
            </svg>
            Další videa
        </a>
    </div>
</section>
<script src="/dist/js/yt-feed.js" async></script>
